.banner {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-position: center;
    background-size: cover;
    font-weight: 900;
    --tw-text-opacity: 1;
    color: rgba(255, 255, 255, var(--tw-text-opacity));
    height: 448px;
}

.bannerTitle {
    display: flex;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
        "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
    margin: 0.5rem 0.5rem 0.5rem 1.5rem;
    font-size: 2.25rem /* 36px */;
    line-height: 2.5rem /* 40px */;
}

.bannerOverview {
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
        "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
    margin: 0.5rem 0.5rem 0.5rem 1.5rem;
    width: 24rem /* 384px */;
    font-size: 0.75rem /* 12px */;
    line-height: 1rem /* 16px */;
}

.bannerTransitionBar {
    position: relative;
    flex-grow: 1;
    background-image: linear-gradient(
        180deg,
        transparent,
        rgba(37, 37, 37, 0.61),
        #111
    );
}

@media (min-width: 1024px) {
    .bannerTitle {
        margin-left: 2.5rem /* 40px */;
        font-size: 3rem /* 48px */;
        line-height: 1;
    }
    .bannerBtn {
        margin-left: 2.5rem /* 40px */;
    }
    .bannerOverview {
        margin-left: 2.5rem /* 40px */;
        width: 50%;
        font-size: 0.875rem /* 14px */;
        line-height: 1.25rem /* 20px */;
    }
}
