@tailwind base;
@tailwind components;
@tailwind utilities;

.card {
  transition: transform 450ms;
  object-fit: "contain";
  height: 100%;
  width: 100%;
  margin-right: 10px;
}

.card:hover {
  transform: scale(1.08);
}

.cardList {
  overflow-y: hidden;
  overflow-x: scroll;
}

.cardList::-webkit-scrollbar {
  display: none;
}
