@tailwind base;
@tailwind components;
@tailwind utilities;

.background {
  background-color: #111;
}

.card {
  transition: transform 450ms;
  object-fit: "contain";
  margin-right: 10px;
}

.card:hover {
  transform: scale(1.08);
}

.cardList {
  overflow-y: hidden;
  overflow-x: scroll;
  min-height: 0;
  min-width: 0;
}

@media (max-width: 1000px) {
  .cardList {
    scrollbar-width: none;
  }

  .cardList::-webkit-scrollbar {
    display: none;
  }
}

.button {
  cursor: pointer;
  color: #fff;
  outline: none;
  font-weight: 700;
  border-radius: 0.2vw;
  background-color: rgba(51, 51, 51, 0.5);
  padding-left: 2rem;
  padding-right: 2rem;
  margin-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.navTransition {
  transition-timing-function: ease-in;
  transition: all 0.5s;
}

.playButton {
  background-color: #e73631;
  color: #fefefd;
}
